# Description
This notebook analyzes and visualizes precipitation data

In [3]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_912561282a76475f919424d2f7f019d3 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='xxxxxxxxxxxxxxxxxxxxxxxxxx',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

body = client_912561282a76475f919424d2f7f019d3.get_object(Bucket='learning-donotdelete-pr-ptbma9lnoirbyp',Key='precipitation.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,CountryID,Country,Source,1990,1995,1996,1997,1998,1999,2000,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,8,Albania,E,...,...,...,"42,700","42,700","42,700",...,...,"51,134","20,569","43,050","30,615","37,172","32,711","38,810","32,224","43,950",...
1,12,Algeria,U,"275,681","376,972","194,723","217,926","198,905","213,388","157,559",...,"373,310","291,256","285,533","276,259","237,403","238,030","181,922","330,957",...,...
2,20,Andorra,U,472,425,625,445,361,481,490,...,424,355,353,483,552,475,477,483,542,551
3,660,Anguilla,U,93,101,...,...,...,...,68,...,...,...,...,...,...,...,...,...,...,...
4,28,Antigua and Barbuda,U,300,375,323,279,385,427,250,...,464,450,279,328,258,161,328,322,233,276